/* ------------------------- */
/* Project  : VGS_Portfolio  */
/* File     : style.css      */
/* Author   : Vicente Garcia */
/* Date     : 02/14/2022     */
/* Modified : 02/18/2022     */
/* ------------------------- */
/* Variables */
:root{
    --clear-color: #ffffff;
    --dark-color: #000000e6;
    --extra-color: #ffc014;
}
/* Apply style whole page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Add space and justify content of the flexbox */
    justify-content: space-between;
    /* Add wrap to move other line when resizes */
    flex-wrap: wrap;
}
/* Apply font and color background to body */
body{
    font-family: Helvetica, Arial, sans-serif;
}
/* Apply style to header */
header{
    padding: 17px 35px;
    /* Add flexbox */
    display: flex;
    background-color: var(--clear-color);
}
/* Apply color and alignment to h1 in header */
header h1{
    color: var(--dark-color);
    margin: 0;
}
/* Apply shape and color to anchors */
header a{
    text-decoration: none;
    color: var(--dark-color);
}
/* Apply margin to navigation */
header nav{
    margin: 7px 0;
}
/* Apply style to list */
header nav ul{
    /* Add flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
/* Apply space and style font to navigation's elements */
header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/* Add pseudo-class change when cursor on element */
header nav ul li a:hover{
    background: var(--dark-color);
    color: var(--clear-color);
}
/* Apply style to footer */
footer{
    background: var(--dark-color);
    width: 100%;
    padding: 40px 35px;
    /* Add flexbox */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* Apply style to h2 element in footer */
footer h2{
    color: var(--clear-color);
    font-size: 30px;
    margin: 0;
}
/* Add alignment to container div in footer */
footer div{
    line-height: 1.5;
    text-align: right;
}
/* Apply color to anchors in footer */
footer a, footer p{
    color: var(--clear-color);
}
/* Apply padding to sections */
section{
    padding: 60px;
}
/* Apply style to hero */
.hero{
    height: 300px;
    margin-bottom: 25px;
    /* Add background image to hero */
    background-image: url("../images/hero_VGS.jpg");
    background-position: 80%;
    /* Add flexbox */
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    /* Mobile */
    align-items: flex-start;
}
.hero-title{
    margin-top: 30px;
    margin-right: 10px;
}
/* Add style to title in hero */
.hero h3{
    color: var(--clear-color);
    /* Change background to color transparency */
    background-color: rgba(255, 255, 255, 0.15);
    padding: 10px ;
    /* Add style to margin */
    border-style: solid;
    border-width: 2px;
    border-color: var(--clear-color);
    width: 300px;
    /* Add shadow transparency */
    box-shadow: 6px 5px 4px rgba(255, 255, 255, 0.3);
    font-size: 28px;
    margin: 0;
}
/* Add style containers sections*/
.flex-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 5px 10px 5px;
}
/* Add style about me section */
.flex-title{
    font-size: 26px;
    text-align: end;
    border-right: 3px solid var(--dark-color);
    padding: 20px 20px 20px 50px;
}
.flex-photo{
    padding: 15px 0px 10px 20px;
    width: 155px;
}
.flex-photo img{
    width: 118px;
    border: 3px solid var(--dark-color);
    box-shadow: 6px 5px 4px rgba(0, 0, 0, 0.3);
}
.flex-info{
    font-size: 20px;
    flex: 1;
    padding: 25px 10px;
}
/* Add style work section */
.flex-title2{
    padding-left: 66px;
}
/* Add class step-info to flexbox */
.flex-main-project{
    flex: 1;
    padding: 10px 10px 10px 20px;
}
.flex-main-project img{
    width: 100%;
    border: 3px solid var(--dark-color);
    box-shadow: 6px 5px 4px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
}
.flex-main-project img:hover{
    opacity: 1;
    box-shadow: 6px 5px 4px rgba(0, 0, 0, 0.6);
}
.flex-projects-up{
    padding: 10px 0 10px 0;
    flex-wrap: wrap;
    display: flex;
}
.flex-projects-up a{
    flex: 1;
}
.flex-projects-up img, .flex-projects-down img{
    width: 599px;
    height: 280px;
}
.flex-projects-up-right{
    padding-left: 15px;
}
.flex-projects-down{
    padding-top: 0px;
    flex-wrap: wrap;
    display: flex;
}
/* Add style contact me section */
.flex-title3{
    padding-left: 18px;
}
.flex-contact{
    font-size: 20px;
    flex: 1;
    flex-wrap: wrap;
    padding: 15px 10px 10px 30px;
    flex-direction: row;
}
/* Add rule for focus state */
.contact-form input:focus, .contact-form textarea:focus{
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}
/* Add pseudo-class */
.contact-form button:hover{
    color: var(--clear-color);
    background: var(--extra-color);
}
.flex-resume{
    text-align: center;
    font-size: large;
    padding: 45px;
    background-color: var(--extra-color);
}
.flex-under{
    /* Add flexbox */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    /* Mobile */
    align-items: flex-start;
}
.flex-under img{
    flex: 1;
    /*height: 669px;*/
    width: 100%;
}
/* Media Query for smaller desktop screens and smaller */
@media screen and (max-width: 980px){
    header{
        padding-bottom: 0%;
        justify-content: center;
        /* Fix mobile devices space */
        position: relative;
    }
    header h1{
        width: 100%;
        text-align: center;
    }
    header nav ul{
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a{
        font-size: 20px;
    }
    header h2, footer div{
        text-align: center;
        width: 100%;
    }
    .section-title{
        width: 80%;
    }
}
/* Media Query for tablets and smaller */
@media screen and (max-width: 768px) {
    section{
        padding: 30px 15px;
    }
}
/* Media Query for mobile phones and smaller */
@media screen and (max-width: 575px) {
    .section-title{
        width: 95%;
    }
    .intro p{
        width: 100%;
    }
}